{% extends "layout.html" %}
{% block title %}
    Flack - {{ session.current_channel }}
{% endblock %}
{% block content %}
<div>
    <h1 style="margin-bottom: 1rem">
        <span class="badge badge-dark">
            {{ session.current_channel }}
        </span>
    </h1>
</div>
<div class="container-channel custom-window">
    <div id="chat-box" class="list-group">
        <textarea id="chat" cols="30" rows="20" readonly>
            {%- if messages -%} 
                {%- for message in messages -%}
                    {% if message["timestamp"] %}
                        <{{ message["timestamp"] }}> - [{{ message["user"] }}]: {{ message ["msg"] }} {{"\n"}}
                    {% endif %}
                {%- endfor -%}
            {%- endif -%}
        </textarea>
    </div>
    <div id="message-box">
        <div class="form-border">
            <div class="form-row">
                <div class="form-group col-sm">
                    <div class="input-group">
                        <input id="comment" class="form-control" size="50" autocomplete="off" autofocus>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <button id="send-button" class="btn btn-success">
                        Send
                    </button>
                </div>
                <div class="form-group col-sm-1">
                    <button id="leave" type="button" class="btn btn-error">
                        Leave
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/channels.js"></script>
{% endblock %}
