{% extends "layout.html" %}

{% block title %}
    Flack Chat
{% endblock %}

{% block content %}
    <h2>Create a new channel.</h2>
    <form action="/create" method="post">
        {{form.csrf_token}}
        <div class="form-group">
            {{form.channel.label}}
            {{form.channel(class="form-control", autofocus="true")}}
        </div>
        {{form.submit(class="btn btn-primary")}}
    </form>
{% endblock %}
