{% extends "layout.html" %}
{% block title %}Flack - Login{% endblock %}

{% block content %}
    <h4>Enter your username and sign in to start chatting!</h4>
    <form action="/login" method="POST">
        {{form.csrf_token}}
        <div class="form-group">
            {{form.username.label}}
            {{form.username(class="form-control", autofocus="true")}}
        </div>
        {{form.submit(class="btn btn-primary")}}
    </form>
{% endblock %}